@charset "UTF-8";

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(env(safe-area-inset-top) + 58px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: env(safe-area-inset-top) 17px 0px 17px;
    z-index: 1;
}

.Header__title {
    font-size: 30px;
}

.Header__btn {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}

.Header__btn:active {
    color: var(--accent-color);
}

.Header__btn.-delete-mode:active {
    color: red;
}

.Header__btn.-delete-mode.active {
    color: red;
}