@charset "UTF-8";

.PopoverList {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.PopoverList__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.PopoverList__btn {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgb(var(--white));
    font-size: 25px;
}

.PopoverList__panel {
    position: absolute;
    top: calc(100% + 6px);
    width: 250px;
    background-color: rgba(var(--white), 0.97);
    color: rgb(var(--dark-gray));
    border: 1px solid rgba(var(--gray), 0.1);
    box-shadow: 0 0 5px rgb(var(--black));
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.6);
    pointer-events: none;
    transition: all 0.15s ease;
}

.PopoverList.-bottom-left .PopoverList__panel {
    right: 0;
    transform-origin: top right;
}

.PopoverList.-bottom-right .PopoverList__panel {
    left: 0;
    transform-origin: top left;
}

.PopoverList.-bottom-center .PopoverList__panel {
    left: calc(-125px + 100% / 2);
    transform-origin: top;
}

.PopoverList__panel.-opened {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.PopoverList__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.PopoverList__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 17px;
}

.PopoverList__item:not(:last-child) {
    border-bottom: 1px solid rgb(var(--gray));
}

.PopoverList__item:active {
    background-color: rgb(var(--gray));
}