@charset "UTF-8";

.SearchBox {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    background: rgba(var(--dark-gray), 0.5);
    border-radius: 12px;
}

.SearchBox__input {
    width: 100%;
    font-size: 16px;
    padding: 4px 2em 4px 12px;
    color: rgb(var(--white));
    padding: 8px 12px;
    outline: none;
    transition: border 0.2s;
    border-radius: 12px;
    border: 1px solid rgba(var(--gray), 0.5);
    background-color: transparent;
    caret-color: rgb(var(--main-color));
}

.SearchBox__input::placeholder {
    color: rgb(var(--gray));
}

.SearchBox__input:focus {
    outline: none;
    border: 1px solid rgb(var(--sub-color));
}

.SearchBox__clear-btn {
  position: absolute;
  right: 0.3em;
  top: 50%;
  display: none;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2em;
  color: rgb(var(--gray));
}

.SearchBox__clear-btn:active {
    opacity: 0.5;
}