@charset "UTF-8";

.FullPlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(var(--accent-color)) 0%, rgb(var(--black)) 30%);
    z-index: 3;

    transition: 0.3s ease;
    transform: translateY(100%);
    pointer-events: none;
}

.FullPlayer.-opened {
    transform: translateY(0);
    pointer-events: auto;
}

.FullPlayer__content-wrapper {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

.FullPlayer__close-btn {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 10px);
    left: 15px;
    font-size: 25px;
    color: rgb(var(--white));
}

.FullPlayer__img-area {
    position: relative;
}

.FullPlayer #vCanvas {
    width: 100%;
}

.FullPlayer__record {
    position: absolute;
    left: 20%;
    bottom: 15px;
    display: flex;
    width: 60%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(var(--black), 0.85);

    transition: 
        box-shadow 0.05s ease-out,
        transform 0.1s ease-out;

    animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FullPlayer__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 30px;
    color: rgb(var(--main-color));
    background-color: rgb(var(--accent-color));
    border: 6px solid rgb(var(--black));
    opacity: 0.9;
}

.FullPlayer__song-title {
    text-align: center;
    font-size: 22px;
    margin-top: 4px;
}

.FullPlayer__progress {
    margin-top: 70px;
    font-size: 0;
}

.FullPlayer__progress-bar {
    appearance: none;
    width: 100%;
    height: 7px;
    margin-bottom: 2px;
    border-radius: 4px;
    background: rgb(var(--black));
}

.FullPlayer__progress-bar::-moz-range-progress {
    background: rgb(var(--black));
    height: 7px;
    border-radius: 4px;
}

.FullPlayer__progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid rgb(var(--main-color));
    border-radius: 50%;
    background: rgb(var(--black));
    box-shadow: none;
}

.FullPlayer__time-info {
    display: flex;
    justify-content: space-between;
}

.FullPlayer__current-time,
.FullPlayer__remaining-time {
    font-size: 12px;
    color: rgb(var(--gray));
}

.FullPlayer__controlls {
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.FullPlayer__prev-btn,
.FullPlayer__next-btn {
    color: rgb(var(--white));
    font-size: 30px;
}

.FullPlayer__prev-btn:active,
.FullPlayer__next-btn:active {
    opacity: 0.5;
}

.FullPlayer__play-btn {
    font-size: 27px;
    width: 60px;
    height: 60px;
    display: inline-flex; /* 中央揃えが簡単 */
    align-items: center;
    justify-content: center;
    color: rgb(var(--dark-gray));
    background: rgb(var(--main-color));
    border-radius: 30px;
}

.FullPlayer__play-btn .fa-play::before {
    position: relative;
    right: -1.5px; /* アイコンのずれ調整用 */
}

.FullPlayer__play-btn:active {
    background-color: rgb(var(--accent-color));
}