@charset "UTF-8";

.MiniPlayer {
    position: fixed;
    left: 2%;
    bottom: calc(env(safe-area-inset-bottom) + 59px);
    display: flex;
    width: 96%;
    height: 59px;
    padding: 10px 25px;
    align-items: center;
    background-color: var(--bg-color2);
    border: 0.5px solid var(--active-color);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    z-index: 1;

    transition: 0.2s ease;
    pointer-events: none;
    opacity: 0;
}

.MiniPlayer.-active {
    pointer-events: auto;
    opacity: 1;
}

.MiniPlayer__icon {
    font-size: 16px;
    margin-right: 15px;
}

.MiniPlayer__song-title {
    font-size: 16px;
}

.MiniPlayer__song-length {
    font-size: 11px;
    color: var(--text-color2);
}

.MiniPlayer__play-btn {
    position: absolute;
    right: 25px;
    display: inline-flex; /* 中央揃えが簡単 */
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 15px;
    width: 15px;
    height: 15px;
}