@charset "UTF-8";

.MiniPlayer {
    position: fixed;
    left: 2%;
    bottom: calc(env(safe-area-inset-bottom) + 59px); /* タブバーから1pxあける */
    display: flex;
    width: 96%;
    height: 60px;
    padding: 10px 25px;
    align-items: center;
    background-color: rgb(var(--accent-color));
    color: rgb(var(--main-color));
    border: 1px solid rgb(var(--main-color));
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(var(--black));
    z-index: 1;

    transition: 0.2s ease;
    pointer-events: none;
    opacity: 0;
}

.MiniPlayer.-active {
    pointer-events: auto;
    opacity: 1;
}

.MiniPlayer__icon {
    font-size: 16px;
    margin-right: 15px;
}

.MiniPlayer__song-info {
    width: 75%;
}

.MiniPlayer__song-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}

.MiniPlayer__song-length {
    font-size: 11px;
    color: rgb(var(--light-gray));
}

.MiniPlayer__play-btn {
    position: absolute;
    right: 25px;
    display: inline-flex; /* 中央揃えが簡単 */
    align-items: center;
    justify-content: center;
    color: rgb(var(--white));
    font-size: 15px;
    width: 15px;
    height: 15px;
}