@charset "UTF-8";

.Modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);

    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
}

.Modal.-open {
    pointer-events: auto;
    opacity: 1;
}

.Modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    width: 85%;
    border: 1px solid var(--main-color);
    text-align: center;
}

.Modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #fff;
}

.Modal__close-btn:active {
    opacity: 0.6;
}

.Modal__input {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-top: 35px;
    caret-color: var(--main-color);
    background-color: var(--bg-color2);
    border: none;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}

.Modal__input:focus {
    outline: none;
}

.Modal__create-btn {
    font-size: 14px;
    padding: 6px 15px;
    border-radius: 10px;
    margin-top: 18px;

    transition: 0.1s;
    background: #2C2C2E;
    color: gray;
    pointer-events: none;
}

.Modal__create-btn.-active {
    background-color: var(--main-color);
    color: #fff;
    pointer-events: auto;
}

.Modal__create-btn.-active:active {
    opacity: 0.7;
}