@charset "UTF-8";

.TabBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(env(safe-area-inset-bottom) + 58px);
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-color);
    color: var(--text-color2);
    z-index: 1;
}

.TabBar__btn {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--text-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TabBar__icon {
    font-size: 20px;
}

.TabBar__btn.active {
    color: var(--accent-color);
    font-weight: 600;
}

.TabBar__tab-name {
    font-size: 10px;
}