@charset "UTF-8";

@import './Blocks/Header.css';
@import './Blocks/PopoverList.css';
@import './Blocks/SearchBox.css';

@import './RootBlocks/Modal.css';
@import './RootBlocks/MiniPlayer.css';
@import './RootBlocks/FullPlayer.css';
@import './RootBlocks/TabBar.css';
@import './RootBlocks/ActionSheet.css';
@import './RootBlocks/Notification.css';

:root {
    --black: 0, 0, 0;
    --dark-gray: 30, 30, 30;
    --gray: 123, 123, 123;
    --light-gray: 217, 217, 217;
    --white: 255, 255, 255;

    --main-color: 61, 214, 176;
    --accent-color: 0, 75, 60;
    --sub-color: 123, 104, 238;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

body {
    background: rgb(var(--black));
    background-attachment: fixed;
    color: rgb(var(--white));
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

input {
    border: none;
    caret-color: rgb(var(--main-color));
}

input:focus {
    outline: none;
}

img:not([src]), img[src=""], img[src=null] {
    visibility: hidden;
}

/* tab-content */
.tab-content {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: none;
    padding-top: calc(env(safe-area-inset-top) + 58px); /* ヘッダーの高さ分の余白 */
    padding-bottom: 300px; /* フッター、ミニプレーヤー分の余白 */
}

.tab-content.active {
    display: block;
}

/* bottom-sheet */
.bottom-sheet__backdrop {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--black), 0.8);
    z-index: 3;
}

.bottom-sheet__backdrop.active {
    visibility: visible;
}

.bottom-sheet {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    background-color: rgb(var(--black));
    color: rgb(var(--white));
    border-radius: 15px 15px 0 0;
    overflow: hidden;

    transition: 0.25s ease;
    transform: translateY(100%);
}

.bottom-sheet__backdrop.active .bottom-sheet {
    transform: translateY(0);
}

.bottom-sheet__container {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - env(safe-area-inset-bottom));
}

.bottom-sheet__header {
    position: relative;
    padding: 10px 0;
    background: rgb(var(--accent-color));
}

.bottom-sheet__close-btn,
.bottom-sheet__action-btn {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: rgb(var(--white));
}

.bottom-sheet__close-btn {
    left: 18px;
}

.bottom-sheet__action-btn {
    right: 18px;
}

.bottom-sheet__close-btn:active,
.bottom-sheet__action-btn:active {
    opacity: 0.3;
}

.bottom-sheet__title {
    text-align: center;
    font-size: 18px;
}

/* .song-list */
.song-list {
    position: relative;
    list-style: none;
}

.song-list__item {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    margin-top: 12px;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: rgb(var(--dark-gray));

    transition: 0.2s ease;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.song-list__item.-deleted {
    opacity: 0;
    background-color: red;
    transform: translateX(60%);
    pointer-events: none;
}

.song-list__delete-btn {
    display: none;
    color: red;
    font-size: 20px;
    margin-right: 30px;
}

.song-list__delete-btn:active {
    opacity: 0.5;
}

.song-list__delete-btn.active {
    display: inline-block;
}

.song-list__icon {
    color: rgb(var(--main-color));
    margin-right: 15px;
    opacity: 0.5;
    transition: 0.2s ease;
}

.song-list__title {
    opacity: 0.9;
}

.song-list__item.-playing .song-list__icon {
    opacity: 1;
}

.song-list__item.-playing {
    border: 1px solid rgb(var(--main-color));
    scale: 1.04;
}

.song-list__info {
    width: 70%;
}

.song-list__item.-playing .song-list__title {
    opacity: 1;
}

.song-list__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    transition: 0.2s ease;
}

.song-list__length {
    font-size: 12px;
    color: rgb(var(--gray));
}

.song-list__add-btn,
.song-list__remove-btn {
    position: absolute;
    right: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.song-list__add-btn {
    color: rgb(var(--main-color));
}

.song-list__remove-btn {
    color: red;
}

.song-list:has(li) {
    position: relative;
}

.song-list:not(:has(li))::before {
    content: "♪ 曲がありません";
    display: block;
    padding: 8px;
    margin-top: 30px;
    color: rgb(var(--gray));
    font-style: italic;
    text-align: center;
}

.song-list__item.-playing .wave {
    display: flex;
}

.wave {
    display: none;
    position: absolute;
    right: 40px;
    align-items: center;
}

.wave span {
    display: inline-block;
    width: 3px;
    height: 6px;
    margin: 0 1px;
    background: rgb(var(--main-color));
    animation: wave 1s infinite ease-in-out;
}

.wave span:nth-child(2) { animation-delay: 0.2s; }
.wave span:nth-child(3) { animation-delay: 0.4s; }
.wave span:nth-child(4) { animation-delay: 0.6s; }

@keyframes wave {
  0%, 100% { transform: scaleY(0.5); }
  50% { transform: scaleY(2.3); }
}

/* 曲一覧ページ */
#all-songs .SearchBox {
    margin-top: 30px;
}

#all-songs .song-list {
    margin-top: 25px;
}


/* プレイリストページ */
.playlist-list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    justify-content: start;
}

.playlist-list li {
    list-style: none;
    width: 28%;
    margin: 15px 2.65%;
}

.playlist-list__img-area {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgb(var(--dark-gray));
    border-radius: 3px;
    border: 1px solid rgba(var(--gray), 0.2);
    overflow: hidden;
}

.playlist-list__img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.playlist-list__name {
    font-size: 13px;
}

/* プレイリスト詳細画面 */
#playlist-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--black));
    overflow-y: scroll;
    transition: 0.3s ease;
    padding-bottom: 300px;
    z-index: 2;
    transform: translateX(100%);
}

#playlist-detail.active {
    transform: translateX(0);
}

.playlist-detail__header {
    position: sticky;
    top: 0;
    width: 100%;
    height: calc(env(safe-area-inset-top) + 40px);
    display: flex;
    padding-top: env(safe-area-inset-top);
    background-color: rgba(var(--accent-color), 0.97);
    justify-content: center;
    z-index: 1;
}

.playlist-detail__header .playlist-detail__title {
    font-size: 20px;
    line-height: 40px;
    visibility: hidden;
}

#playlist-detail__popover {
    position: absolute;
    top: 5px;
    right: 10px;
}

.playlist-detail__info {
    background: linear-gradient(to bottom, rgb(var(--accent-color)) 0%, rgb(var(--black)) 100%);
    padding-top: calc(env(safe-area-inset-top) + 70px);
    padding-bottom: 40px;
}

.playlist-detail__back-btn {
    position: absolute;
    left: 10px;
    line-height: 40px;
    color: rgb(var(--white));
    font-size: 25px;
}

.playlist-detail__img-area {
    width: 40%;
    aspect-ratio: 1;
    margin: 0 auto;
    background-color: rgb(var(--dark-gray));
    border: 1px solid rgb(var(--gray));
    border-radius: 5px;
    overflow: hidden;
}

.playlist-detail__img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.playlist-detail__info .playlist-detail__title {
    font-size: 20px;
    padding-top: 3px;
    text-align: center;
}

.playlist-detail__length {
    font-size: 13px;
    color: rgb(var(--gray));
    text-align: center;
}

.playlist-detail__play-btn {
    display: block;
    margin: 0 auto;
    font-size: 50px;
    color: rgb(var(--main-color));
    margin-top: 15px;
}

.playlist-detail__play-btn:active {
    color: rgb(var(--accent-color));
}

.playlist-detail__actions {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.playlist-detail__action {
    font-size: 14px;
    background: rgb(var(--white));
    color: rgb(var(--black));
    padding: 3px 12px;
    margin-right: 5px;
    border-radius: 15px;

    transition: 0.2s;
}   

.playlist-detail__action:active {
    opacity: 0.3;
}

#playlist-detail .song-list {
    list-style: none;
    border-top: 1px solid rgb(var(--gray));
}

/* プレイリスト曲追加用シート　＆　プレイリスト編集シート　（レイアウトがほぼ共通なため） */
.add-song-sheet__content,
.edit-playlist-sheet__content {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    padding: 30px 0;
    margin: 0 auto;
}

#add-song-sheet__search-box,
#edit-playlist-sheet__search-box {
    width: 90%;
}

#add-song-sheet__song-list,
#edit-playlist-sheet__song-list {
    margin-top: 5px;
    background-color: transparent;
    border-radius: 5px;
    flex: 1;
    overflow-y: scroll;
}

#add-song-sheet__song-list .song-list__item,
#edit-playlist-sheet__song-list .song-list__item {
    transition: 0.25s;
}

#add-song-sheet__song-list .song-list__item.added {
    background-color: green;
    transform: translateX(-60%);
    opacity: 0;
}

#edit-playlist-sheet__song-list .song-list__item.removed {
    background-color: red;
    transform: translateX(60%);
    opacity: 0;
}

/* プレイリスト情報編集シート */
.info-edit-sheet__content {
    width: 90%;
    margin: 0 auto;
}

.info-edit__img-area {
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    width: 160px;
    height: 160px;
    background-color: rgb(var(--dark-gray));
    border-radius: 3px;
}

.info-edit__img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    opacity: 0.4;
}

.info-edit__popover-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(var(--main-color));
}

.info-edit__popover-wrapper:active {
    opacity: 0.6;
}

#playlist-name-input {
    width: 100%;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(var(--white));
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid rgb(var(--dark-gray));
}

/* 設定ページ */
.setting-genre {
    color: rgb(var(--gray));
    font-size: 14px;
    margin-top: 30px;
    margin-left: 20px;
}

.setting-item {
    padding: 10px 25px;
    border-bottom: 1px solid rgb(var(--dark-gray));
}